<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/favicon.ico">

    <title>Salien Summer 2018 Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap-dark.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/dashboard.css" rel="stylesheet">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121388844-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-121388844-1');
	</script>

	<style>
		canvas {
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
		}
		.popover .arrow {
			left: 90px !important; /* or 45% etc */
		}
		.popover{
			data-offset="-50%";
			left: +10%!important;			
		}
		.popover {
		    max-width: 420px!important;
			width:auto;
		}
		.difficulty-cell{
			width:32px;
			height:25px;
			text-align: center;			
		}
		.difficulty-1 {
			background-color: #5cb85c;
		}
		.difficulty-2 {
			background-color: #f0ad4e;
		}
		.difficulty-3 {
			background-color: #d9534f;
		}
		.progress-bar {
			font-size:150%;
		}
		html {
		  overflow-y: scroll;
		}

		@keyframes spinner {
		  from {transform:rotate(0deg);}
		  to {transform: rotate(360deg);}
		}
		 @keyframes spinner-main {
		  from {transform:rotate(0deg);}
		  to {transform: rotate(360deg);}
		}
		.spinner:before {
		  content: '';
		  box-sizing: border-box;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  width: 30px;
		  height: 30px;
		  margin-top: -15px;
		  margin-left: -15px;
		  border-radius: 50%;
		  border: 1px solid #ccc;
		  border-top-color: #07d;
		  animation: spinner .6s linear infinite;
		}
		.spinner-main:before {
		  content: '';
		  box-sizing: border-box;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  width: 30px;
		  height: 30px;
		  margin-top: 150px!important;
		  border-radius: 50%;
		  border: 1px solid #ccc;
		  border-top-color: #07d;
		  animation: spinner .6s linear infinite;
		}
	</style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top py-0">
		<div class="d-flex w-50 order-0">
			<a class="navbar-brand mr-1" href="#">Salien Dashboard</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="navbar-text text-truncate mt-1 w-50 text-right order-1 order-md-last">
			<a  href="https://github.com/jaredkaczynski/SalienStatistics">Github <span class="sr-only">Home</span></a>
		</div>
	</nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/planet_charts">Planet Progress Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/player_charts">Player Count Statistics<span class="sr-only">(current)</span></a>
            </li>
			<li class="nav-item">
              <a class="nav-link" href="/clan_charts">Clan Zone Statistics</a>
            </li>
			<li class="nav-item">
              <a class="nav-link active" href="/planet_live">Planet Live Data</a>
            </li>
          </ul>
		  <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="hideCompleted">Hide/Show Completed</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#" id="hideInactive">Hide/Show Inactive</a>
                    </li>
                </ul>
        </nav>

            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
				<div class="row">
					<div class="col-md-4">
					</div>
					<div class="col-md-3">
					  <h4 style="text-align:center">Remaining Zones</h4>
						<div class="progress" style="height: 20px;" id="live_zones">
						  <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="240"></div>
						  <div class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="240"></div>
						  <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="240"></div>
						  <div class="progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="240"></div>
						</div>
					</div>
					<div class="col-md-4" style="text-align:center;margin-top: 30px;">
					    <div class="spinner" id='spinner'></div>
					</div>
				  </div>
                <h1>Planet Live Data</h1>

                <section class="row text-center placeholders" id="planet-append">
                </section>
            </main>
        </div>
    </div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="static/js/bootstrap.min.js"></script>
	<script>
	
	var zoneCount = [0,0,0];
	var global_planets = null;
	var planetZoneOut = {};
	var planetPlayerHistoryCount = {};
	var planetPlayerHistoryTime = {};	
	var planetPlayHistoryLast = {};
	var startTime = Date.now()
	var minimisers = {};
	var global_planet_zones = {};
	firstload = true;
	const Item = ({ url, img, title, current_players,capture_progress, id}) => `
		<div class="col-6 col-sm-4 placeholder" capture_progress=${capture_progress} id=${id}>
			<a href="#" style="float: left;position: relative;" tabindex="0" class="btn btn" role="button" data-toggle="popover" data-trigger="focus" data-content="<form><input type='text'/></form>">
				Show Zones
			</a>
			<a href="/view_planet?planet_id=${id}" style="float: right;position: relative;" tabindex="0" class="btn btn" role="button">
				More Info
			</a>
			<br><br>
			<a "href="https://store.steampowered.com/prizes/view/${url}">
				<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/assets/saliengame/planets/${img}" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
				</a>
				<h4>${title}</h4>
				<span class="text-muted">Players: ${current_players}</span>
				<div class="progress" style="line-height:30px;height:30px">
				  <div class="progress-bar bg-success" style="width: ${capture_progress}%;height:30px" role="progressbar" aria-valuenow="${capture_progress}" aria-valuemin="0" aria-valuemax="100">${capture_progress}%</div>
				</div>
				<br><br>
		</div>`
		;
		jQuery(function ($){
        $(document).ajaxStop(function(){
            $("#spinner").hide();
         });
         $(document).ajaxStart(function(){
             $("#spinner").show();
         });    
		});
		$(document).ready(function(){
			$('[data-toggle="popover"]').popover(); 
		});
        $.ajax({
            crossOrigin: true,
            dataType: 'JSON',
            jsonpCallback: 'callback',
            url: "https://community.steam-api.com/ITerritoryControlMinigameService/GetPlanets/v0001/",
            type: "GET",
            success: function(data) {
                //var obj = JSON.parse(data.contents);
				obj = data;
				global_planets = obj.response.planets
                addPlanets(obj.response.planets);
            }
        });
		
		function sortCompleted(){
			var mylist = $('#planet-append');
			var listitems = mylist.children('div').get();
			console.log("Sorting");
			listitems.sort(function(a, b) {
				var compA = $(a).attr('capture_progress');
				var compB = $(b).attr('capture_progress');
				if(isNaN(compA) && isNaN(compB) || compA == "100" && compB == "100" || compA == "0" && compB == "0"){
					if(parseInt($(a).attr('id')) < parseInt($(b).attr('id'))){
						return -1;
					} else if(parseInt($(a).attr('id')) > parseInt($(b).attr('id'))){
						return 1;
					} else {
						return 0;
					}
				}else if(isNaN(compA)){
					return 1;
				}else if(isNaN(compB)){
					return -1;
				} else {
					temp1 = compB-compA;
					return(temp1);
				}
				//return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
			});
			$.each(listitems, function(idx, itm) {
				mylist.append(itm);
			})
		}
		function parseZone(planet_id,element){
			if(global_planets[planet_id] != null && global_planets[planet_id].zones != null && global_planets[planet_id].zones){
				appendTable(global_planets[planet_id].zones, element)
			} else {
				$.ajax({
				crossOrigin: true,
				dataType: 'JSON',
				jsonpCallback: 'callback',
				url: "https://community.steam-api.com/ITerritoryControlMinigameService/GetPlanet/v0001/?id="+planet_id,
				type: "GET",
				success: function(data) {
					if(global_planets[planet_id] == null){
						global_planets[planet_id] = {};
					}
					global_planets[planet_id].zones = obj;
					obj = data.response.planets[0].zones;
					global_planet_zones[planet_id] = obj;	
					appendTable(obj, element)		
				}
				});
			}
		}
		
		function appendTable(zones,element){
				var table = document.createElement('table'), tr, td, i;
				table.className = "table table-bordered";
				for (i = 0; i < zones.length; i++) { 
					if (i % 12 == 0) { // every 22nd cell (including the first)
						tr = table.appendChild(document.createElement('tr')); // add a new row
					}
					td = tr.appendChild(document.createElement('td'));
					if(zones[i].captured == true){

						var DOM_link = document.createElement("a");
						DOM_link.href = "https://steamcommunity.com/groups/" + zones[i].leader.url;
						var DOM_img = document.createElement("img");
						DOM_img.src = "https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars//e3/" + zones[i].leader.avatar + ".jpg";
						DOM_link.appendChild(DOM_img);
						td.appendChild(DOM_link);
					} else {
						td.innerHTML = zones[i].difficulty;
						$(td).addClass("difficulty-" + zones[i].difficulty + " difficulty-cell")						
					}
					if("capture_progress" in zones[i] && "leader" in zones[i]){
						td.title = parseInt(zones[i].capture_progress*100) + "% \n Leader: " + zones[i].leader.name;
					} else {
						td.title = i;
					}
					
				}
				//document.getElementById('container').appendChild(table);
				
			
				$(element).attr('data-content',table.innerHTML);
				$(element).popover('show');
		}
		
		function reloadData(){
			console.log("reload data");
			if(localStorage.getItem('hideCompleted') != null && localStorage.getItem('hideCompleted') == "true"){
				localStorage.setItem('hideCompleted',false);				
				console.log($('#hideCompleted'));
				setTimeout(function() {
					$('#hideCompleted').click();
				}, 100);
				//$('.register').trigger('click');

			}
			if(localStorage.getItem('hideInactive') != null && localStorage.getItem('hideInactive') == "true"){
				localStorage.setItem('hideInactive',false);
				//console.log($('#hideInactive'));
				//$('#hideInactive').click();
				setTimeout(function() {
					$('#hideInactive').click();
				}, 100);				
			}
			
			setTimeout(function() {

				$('[data-toggle="popover"]').popover({
                 trigger: 'manual',
                 placement: 'bottom',
                 html: true,
              }).click(function (e) {
                 e.preventDefault();
                 // Exibe o popover.
				console.log(this.attributes)
				if($(this).hasClass("out")){
				  // popover is visable
				  $(this).removeClass("out")
				  $(this).popover('hide');
				  planetZoneOut[$(this).parent().attr('id')] = 0;
				} else {
					$(this).addClass("out")
					planetZoneOut[$(this).parent().attr('id')] = 1;
				  	parseZone($(this).parent().attr('id'),this)
				}

              });
			  }, 100);
			  
		}
		
		function startTimer(){
			setInterval(function() {
				update_data()
			}, 5000);
			setTimeout(function() {
				updateZones()
			},100);
			setInterval(function() {
				updateZones()
			}, 300000);
			/**
			setInterval(function() {
				test = Object.keys(planetPlayerHistoryTime)[0]
				if(test != null && planetPlayerHistoryTime[test].length > 5){
				fake_update_data()
			}
			}, 250);**/
		}
		
		
		
		function addPlanets(planets){
			//$('#planet-append').Item("test","test","test"));
			dataList = []
			planets.forEach(function(planet) {
				if(isNaN(planet.state.capture_progress) || planet.state.capture_progress === null){
					planet.state.capture_progress = 0;
				}
				if(String(planet.state.current_players).includes("undefined")){
					planet.state.current_players = "0";
				}
				dataList.push({url: planet.state.giveaway_id, img: planet.state.image_filename, title: planet.state.name.replace("#TerritoryControl_Planet","Planet ").replace(/_/g," "),
				current_players:planet.state.current_players,capture_progress:Math.round(parseInt(planet.state.capture_progress*10000)) / 100,id:planet.id})
                    //$('#planet-append').append(Item(planet.state.giveaway_id,planet.state.image_filename,planet.state.name));
                });
			$('#planet-append').html((dataList).map(Item).join(''));
			sortCompleted()
			reloadData()
			startTimer()
		}
		
		function fake_update_data(){
			//append new data
			$('#planet-append').children('div').each(function(i) {
				id = $(this).attr('id');
				if(id in planetPlayerHistoryTime){
					if(!(id in objectives)){
						var initial = [1,1,1,1];
						var objective = makeObjective(linear, planetPlayerHistoryTime[id].slice(Math.max(planetPlayerHistoryTime[id].length - 6, 1)), planetPlayerHistoryCount[id].slice(Math.max(planetPlayerHistoryCount[id].length - 6, 1))); // then carry on as before
						var minimiser = numeric.uncmin(objective,initial);
						minimisers[id] = minimiser;
					}
					if(id in minimisers){
						x = getTimeMs();
						fake_player_count = minimisers[id].solution[0]*x + minimisers[id].solution[1]
						//fake_player_count = minimisers[id].solution[0]*x^4 + minimisers[id].solution[1]*x^2 + minimisers[id].solution[2]*x^1 + minimisers[id].solution[3]
						new_count = planetPlayHistoryLast[id] + fake_player_count;
						$(this).find('.text-muted').text("Players: " + new_count);
					}
				}
			});
		}
		
		function between(x, min, max) {
		  return x >= min && x <= max;
		}
		
		function getTimeMs(){
			return Date.now()-startTime;
		}
		
		function update_data(){
			$.ajax({
            crossOrigin: true,
            dataType: 'JSON',
            jsonpCallback: 'callback',
            url: "https://community.steam-api.com/ITerritoryControlMinigameService/GetPlanets/v0001/?active_only=1",
            type: "GET",
            success: function(data) {
                //var obj = JSON.parse(data.contents);
				obj = data;
				global_planets = obj.response.planets;
                replacedata(obj.response.planets);
            }
			});
			objectives = {}
			sortCompleted()
		}
		
		function update_zone_progress(){
			firstload = false;
			zoneCount = [0,0,0,0]
			for(var planet_position in global_planet_zones){
				planet = global_planet_zones[planet_position];
				planet_id = planet.id
				if("state" in planet && "zones" in planet){
					for(zone_id in planet.zones){
						//console.log("Position: " + planet.id)
						if(planet.zones[zone_id].captured == false){
							//console.log("Zone: " + zone_id)
							switch(planet.zones[zone_id].difficulty) {
								case 1:
								zoneCount[0] += 1
								break;
								case 2:
								zoneCount[1] += 1
								break;
								case 3:
								zoneCount[2] += 1
								break;
								case 4:
								zoneCount[2] += 1
								break;
							}
						}
					}
				}
			}
			if(zoneCount.reduce((a, b) => a + b, 0) >= 0){
				$("#live_zones").find(".bg-success").css("width",zoneCount[0])
				$("#live_zones").find(".bg-success").text(zoneCount[0] == 0?"" : zoneCount[0])			
				$("#live_zones").find(".bg-warning").css("width",zoneCount[1]) 
				$("#live_zones").find(".bg-warning").text(zoneCount[1] == 0?"" : zoneCount[1])
				$("#live_zones").find(".bg-danger").css("width",zoneCount[2]) 
				$("#live_zones").find(".bg-danger").text(zoneCount[2] == 0?"" : zoneCount[2])
				$("#live_zones").find(".bg-primary").css("width",zoneCount[3]*20) 
				$("#live_zones").find(".bg-primary").text(zoneCount[3] == 0?"" : zoneCount[3]*20)
			}
		}
		
		//Get zone data for a planet and insert it into the planet data
		function updatePlanet(planetId){
			$.ajax({
            crossOrigin: true,
            dataType: 'JSON',
            jsonpCallback: 'callback',
            url: "https://community.steam-api.com/ITerritoryControlMinigameService/GetPlanet/v0001/?id=" + planetId,
            type: "GET",
			 success: function(data) {
                //var obj = JSON.parse(data.contents);
				obj = data;
				if(!(planetId in global_planets)){
					global_planets[planetId] = {};
				}
				global_planets[planetId] = obj.response.planets[0].zones
				global_planet_zones[planetId] = obj.response.planets[0];
            }
			});
		}
		
		function updateZones(){
			for( planet_name in global_planets){
				//console.log(global_planets[planet_name])
				if(global_planets[planet_name].state.active == true && global_planets[planet_name].state.captured == false){
					updatePlanet(global_planets[planet_name].id)
				}
			}
			//Delay update to assure data is processed and such
			setTimeout(update_zone_progress,1000);
		}
		
		
		function replacedata(data){
			//Sort data with keys
			var dict = {};
			$(data).each(function(i) {
				//console.log(this)
				id = $(this).attr('id');
				dict[id] = this;
			});
			//append new data
			$('#planet-append').children('div').each(function(i) {
				id = $(this).attr('id');	
				//console.log(dict[id]);
				if(id in dict){
					planet = dict[id]
					if(isNaN(planet.state.capture_progress) || planet.state.capture_progress === null){
						planet.state.capture_progress = 0;
					}
					if(String(planet.state.current_players).includes("undefined")){
						planet.state.current_players = "0";
					}

					$(this).attr('capture_progress',Math.round(parseInt(planet.state.capture_progress*10000)) / 100);
					$(this).find('.progress-bar').css('width', Math.round(parseInt(planet.state.capture_progress*10000)) / 100 + '%');
					$(this).find('.progress-bar').text(Math.round(parseInt(planet.state.capture_progress*10000)) / 100 + "%");
					//$(this).find('.progress-value').text(Math.round(parseInt(planet.state.capture_progress*10000)) / 100 + "%");
					$(this).find('.text-muted').text("Players: " + planet.state.current_players);
					//Add data to an array for advanced faking of numbers later
					if(planetPlayerHistoryCount[id] == null){
						planetPlayerHistoryCount[id] = [planet.state.current_players]
						planetPlayerHistoryTime[id] = [getTimeMs()]
					}
					if(planetPlayerHistoryCount[id].length > 0 && planet.state.current_players != planetPlayerHistoryCount[id][planetPlayerHistoryCount[id].length - 1]){
						planetPlayHistoryLast[id] = planet.state.current_players
						planetPlayerHistoryCount[id].push(planetPlayHistoryLast[id] - planet.state.current_players)
						planetPlayerHistoryTime[id].push(getTimeMs())
					}
				}
			});
		}
		
		$('#sortId').on('click', function () {
			var mylist = $('#planet-append');
			var listitems = mylist.children('div').get();
			console.log("Sorting");
			listitems.sort(function(a, b) {
				var compA = $(a).attr('capture_progress');
				var compB = $(b).attr('capture_progress');
				if(isNaN(compA)){
					return 1;
				}else if(isNaN(compB)){
					return -1;
				} else {
					temp1 = compB-compA;
					return(temp1);
				}
				//return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
			});
			$.each(listitems, function(idx, itm) {
				mylist.append(itm);
			})
		});
		$('#hideCompleted').on('click', function () {
			//Toggle
			localStorage.setItem('hideCompleted', localStorage.getItem('hideCompleted') == "true" ? "false" : "true");
			$('#hideCompleted').toggleClass("active");			
			var mylist = $('#planet-append');
			var listitems = mylist.children('div').get();
				listitems.forEach(function(planet) {
					if ($(planet).attr('capture_progress') == "100"){
						$(planet).toggle();
					}
                });
		});
		$('#hideInactive').on('click', function () {
			$('#hideInactive').toggleClass("active");
			//Toggle
			localStorage.setItem('hideInactive', localStorage.getItem('hideInactive') == "true" ? "false" : "true");
			var mylist = $('#planet-append');
			var listitems = mylist.children('div').get();
				listitems.forEach(function(planet) {
					if (isNaN($(planet).attr('capture_progress')) || $(planet).attr('capture_progress') == "0"){
						$(planet).toggle();
					}
                });
		});
		
		var cubic = function(params,x) {
		  return params[0] * x*x*x +
			params[1] * x*x +
			params[2] * x +
			params[3];
		};	

		var quadratic = function(params,x) {
		  return params[0] * x*x +
			params[1] * x +
			params[2];
		};	
		
		var linear = function(params,x) {
		  return params[0] * x +
			params[1];
		};
		
		var makeObjective = function(targetFunc,xlist,ylist) {
		  var objective = function(params) {
			var total = 0.0;
			for(var i=0; i < xlist.length; ++i) {
			  var resultThisDatum = targetFunc(params, xlist[i]);
			  var delta = resultThisDatum - ylist[i];
			  total += (delta*delta);
			}
			return total;
		  };
		  return objective;
		};	


		
    </script>
	<script src="static/js/numeric-1.2.6.min.js"</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

</body>

</html>